<?xml version="1.0"?>
<launch>
  <!-- Name of the node. All topics will be advertised under this name. -->
  <arg name="name" default="ifm_o3m151"/>
  <!-- Name of the node. All topics will be advertised under this name. -->
  <arg name="port" default="42000"/>
  <arg name="ip" default="255.255.225.255"/>
  <arg name="depth_topic" default="depth/raw"/>
  <arg name="point_cloud_topic" default="pc"/>
  <arg name="raw_topic" default="raw"/>
  <arg name="frame_id" default="ifm_frame" />
  <arg name="namespace" default="$(arg name)" />
  <arg name="tf_prefix" default="ifm03m" />

    <node name="$(arg name)" pkg="ifm_o3mxxx" type="ifm_o3mxxx_node" output="screen">
        <param name="Port" value="$(arg port)" />
        <param name="IP" value="$(arg ip)" />
        <param name="OutDepthImageTopic" value="$(arg namespace)/$(arg depth_topic)" />
        <param name="PointCloudTopic" value="$(arg namespace)/$(arg point_cloud_topic)" />
        <param name="RawTopic" value="$(arg namespace)/$(arg raw_topic)" />
	<param name="FrameID" value="$(arg frame_id)" />
	<!--	<param name="FrameID" value="$(arg tf_prefix)/$(arg frame_id)" unless="$(eval tf_prefix=='')" /> -->
    </node>
</launch>
